<!DOCTYPE html>
<html>
  <head>
    <script type='text/javascript' src='js/config.js'></script>
    <script src="js/dojo/dojo.js"></script> 
  </head>
  <body>
    <div id='viewPanel'></div>
  </body>
</html>
