<!DOCTYPE html>
<html>
  <head>
    <script type='text/javascript' src='js/config.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script> 
  </head>
  <body>
  </body>
</html>
